/* style.css */

@page {
  size: landscape;
}

body {
  margin: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

th,
td {
  border: 2px solid black;
  text-align: center;
  padding: 5px;
}

th {
  background-color: #f2f2f2;
}

.professor-cell {
  cursor: pointer;
}

.turma-row td:first-child {
  background-color: #ffe156;
}

.semana-row {
  background-color: cyan;
}

h2 {
  text-align: center;
}
/* Estilos para dispositivos móveis */
@media screen and (max-width: 600px) {
  table {
    overflow-x: auto;
    display: block;
  }
  th,
  td {
    min-width: 80px;
    padding: 3px;
  }
  .professor-cell {
    width: auto;
  }
}
